<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">このアプリについて</h4>
          <p class="text-muted">自分の過去の体験をもとに作成しました。<br>楽しんでもらえると幸いです。</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://twitter.com/nagaemon1111" class="text-white">Follow on Twitter</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100004345800407" class="text-white">Like on Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <%= link_to "トップページへ" ,root_path , class:"navbar-brand d-flex align-items-center" %>
      <%= link_to "セレクト画面へ" ,root_path(anchor: "select_level") ,class:"navbar-brand d-flex align-items-center" %>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>