<% content_for :head do %>
  <%= javascript_import_module_tag "title_it" %>
<% end %>


<h1>簡単なタスク</h1>
<!--タイマー実装-->
<div class="conteiner">
  <div id="timer">00:00</div>
  <div class="btn btn-primary" id="start">start</div>
  <div class="btn btn-primary" id="stop">stop</div>
</div>
<!--タイマー ここまで-->

<>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  作成完了！！
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">You made it !!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        チュートリアル完了！！ 次の入力も頑張ろう
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">次のタスク</button>
      </div>
    </div>
  </div>
</div>